.logo {
    font-family: 'Girassol', cursive;
    background-color: mediumpurple;
    color: white;
    padding: 5px;
    box-shadow: 2px 2px black;
}

.queryResult {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}