<div class="container" [formGroup]="searchForm">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand logo" href="#">TabrEZ Search</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
                </div>
        </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h2>Welcome to TabrEZ Search!</h2>
                            <p>Upload a textbook (in PDF format) to begin searching it, or enter search terms to query Wikipedia.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="searchbox-label">Search</span>
                                </div>
                                <input formControlName="searchBox" type="text" class="form-control" placeholder="Enter search terms" aria-label="Search" aria-describedby="searchbox-label">
                            </div>
                            <ul class="list-group list-group-flush" *ngFor="let queryResult of queryResults">
                                <li class="list-group-item queryResult">
                                    <a href="#" (click)="articleClicked(queryResult)">{{ queryResult }}</a>
                                    <button type="button" class="btn btn-primary btn-sm" (click)="articleSelected(queryResult)">
                                        Select <fa-icon [icon]="faHandPointRight"></fa-icon>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="handleFileInput($event.target.files)">
                                    <label *ngIf="selectedFile == null" class="custom-file-label" for="inputGroupFile01">Select a PDF...</label>
                                    <label *ngIf="!!selectedFile" class="custom-file-label" for="inputGroupFile01">{{ selectedFile.name}} </label>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush" *ngFor="let selectedQueryResult of selectedQueryResults">
                                <li class="list-group-item queryResult">
                                    <a href="#" (click)="articleClicked(selectedQueryResult)">{{ selectedQueryResult }}</a>
                                    <button type="button" class="btn btn-danger btn-sm">
                                        <fa-icon  [icon]="faTimesCircle"></fa-icon>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12" *ngIf="!!queryResults">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div> 
</div>